.clients-section {
    display: flex;
    justify-content: center;
    width: 1366px;
    padding: 0 100px;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.clients-section .img-client:nth-of-type(6) {
    margin-left: 50px;
}

.clients-section .img-client:nth-of-type(9) {
    margin-right: 50px;
}

.img-client .img {
    height: 60px;
    width: 100%;
    object-fit: cover;
    margin-top: 50px;
}

.block-jazz-clients-block {
    margin: 0 auto;
    width: 1442px;
    max-width: 100%;
}

.img-client {
    width: 17%;
    margin: 0 15px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .img-client {
        width: 70%;
        margin: 0 15px;
    }
    .img-client .img {
        height: 70px;
    }
    .clients-section {
        padding: 0 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .clients-section {
        padding: 0;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {}