<div class="dev-tools-cli-container">


    <div class="container">
      <div class="row" >

        <div class="col-sm-7"><h2>Developer Tool</h2>
          <p>Get up and running with libraries, keys, and integration tools.</p>
          
            <h2>CLI</h2>
            <p>Interact with us from your terminal to bootstrap sample projects, send test mode API requests, and debug your integration.</p>
          
          <div class="dev-tools-cli-button">
            <button class="btn btn-warning rounded-pill">Setup The CLI</button>
          </div>
        </div>

        <div class="col-sm-5 text-center  ">
          <img class="dev-tools-cli-image" src="{{ dev_tool_setup_cli_path }}/CLI.png" alt="">
        </div>

      </div>
    </div>
    

</div>